* {
	margin:0;
	padding:0;
}
body {
	background:ffffff;
	font-family:Verdana;
	font-size:100%;
	line-height:1em;
	color:4f4f4f;
	background-image: url(../images/background.jpg);
}


/*in_line*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

a:hover{text-decoration:none;}
a {color:#38576f;}

.clear { clear:both;}

.fleft { float:left;}
.fright { float:right;}

.alignleft { text-align: left; }
.alignright { text-align:right;}
.aligncenter { text-align:center;}

p { margin:0; padding:0;}

.tall_top { background:url(../images/tall_top.gif) left top repeat-x #ffbb00;}
.tall_bottom { background:url(../images/tall_bottom.gif) left bottom repeat-x;}

.form { height:29px;}
.form input {width:191px; height:15px; background:none; border:1px solid #7e7e7e; color:#929292; font-size:1em; font-family:Arial;}
textarea { width:201px; height:104px; background:none; overflow:auto; border:1px solid #7e7e7e; color:#929292; font-size:1em; font-family:Arial;}


ul { list-style:none;}

.menu { z-index:99; }
.menu li { float:left; padding-left:35px; position:relative; }
.menu li a { color:#4f4f4f; font-size:1em; font-weight:bold; font-family:Verdana; text-decoration:none; margin-right:36px;}
.menu li:hover, .menu li:focus { background-color:#7d7d7d; border-radius: 1.6em;}
.menu li:hover a { color:#ffffff;}
.menu li ul { 
   display:none;
   border: 1px solid #adadad;
   position:absolute;
   width:140px;
   border-radius:0.6em;
   background-color:#5D7B93;
   margin: 0;
   margin-left:-23px;
   padding: 0; 
   color:#4f4f4f;
}
.menu li ul li {
   margin-top:5px; 
   margin-left:10px;
   padding:0;
   border-radius:0;
   background-color:#5D7B93;
   float:left;
   clear:both;	
}
.menu li ul li a:hover {
   background-color:#344152;
}
.menu li ul li a {
   color:#ddeeff;
   margin:0;
   padding:0;
}
.menu li ul li:last-child {
   margin-bottom:5px; 
}

.currentMenuItem { background-color:#7d7d7d; border-radius: 1.6em; color:#ffffff; }

.title { margin:0 0 10px 0; }

.img_indent { margin:0 20px 0 0; float:left;}

#article_image {
    position:absolute; 
    top:0; 
    left:0;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid gray;
    width: 110px;
    height: 154px;
}

/*txt, links*/
h1 { background:url(../images/logo.png) no-repeat left top; height:60px; text-indent:-10000px;}
h3 { color:#343434; font-size:1.2em;}
h4 { font-style:italic; margin-bottom:15px; font-size:1em; font-weight:normal;}

.txt1 { color:#343434;}

.link1 { background:url(../images/marker.gif) no-repeat 0 2px; padding-left:19px;}
.link1:hover {}

.line_hor { background:url(../images/line1.gif) left bottom repeat-x;}
.line { background:url(../images/line2.gif) right top repeat-y;}


/*header*/
#header .row_1 { height:95px; background:url(../images/line1.gif) 0 23px repeat-x;}
#header .row_1 .col_1 { width:598px;}
#header .row_1 .col_1 .indent { padding:32px 0 0 0;}
#header .row_1 .col_2 { width:182px; color:#919191; font-size:0.75em;}
#header .row_1 .col_2 .indent { padding:63px 0 0 0;}
#header .row_1 .col_2 a { color:#919191; text-decoration:none;}
#header .row_1 .col_2 a:hover { text-decoration:underline;}
#header .row_1 .indent {}
#header .row_2 { height:325px; background:url(../images/header_bgd.png) no-repeat right top; font-size:0.75em;}
#header .row_2 img { margin:0px 0px 0px 0px;}
#header .row_2 .col_1 {	width:230px;}
#header .row_2 .col_1 .top_margin { padding:20px 0 0 0;}
#header .row_3 { height:40px; background:url(../images/header_bgd2.png) left top repeat-x; font-size:0.8125em;}
#header .row_3 .indent { padding:13px 0 0 10px;}

/*content*/
#content { font-size:0.75em; line-height:1.25em; width:900px;}
#content .indent {
	padding:0px 0 32px 0px;
}
#content ul li a { line-height:1.58em;}
#content .article { margin-left: 130px; text-align: left; }

/*footer*/
#footer { background:url(../images/line1.gif) left top repeat-x; font-size:0.75em;}
#footer a { text-decoration:none;}
#footer a:hover { text-decoration:underline;}
#footer .indent { padding:15px 0 0 19px;}



/*================== index.html ==================*/
#page1 #content .col_1 .indent { padding:0 0 0 19px;}
#page1 #content .col_1 p { margin-bottom:15px;}
#page1 #content .col_1 .p1 { margin-bottom:17px;}
#page1 #content .col_1 .alignright { margin-right:30px;}
#page1 #content .col_2 .indent { padding:0 0 0 30px;}
#page1 #content .col_2 .img_indent { margin:3px 19px 40px 0;}
#page1 #content .col_2 p { margin-bottom:15px;}
#page1 #content .col_2 .alignright { margin:17px 11px 0 0;}

/*================== index-1.html ==================*/
#page2 #content .col_1 .indent {
	padding:0 30px 0 20px;
}
#page2 #content .col_1 p { margin-bottom:13px;}
#page2 #content .col_1 .p1 { margin-bottom:17px;}
#page2 #content .col_1 .img_indent { margin:3px 20px 12px 1px;}
#page2 #content .col_2 .indent {
	padding:0 20px 0 30px;
}
#page2 #content .col_2 .container { width:366px;}
#page2 #content .col_2 .container .column1 { width:211px;}
#page2 #content .col_2 .container .column2 { width:155px;}
#page2 #content .col_2 ul { margin-bottom:15px;}
#page2 #content .col_2 p { margin-bottom:14px;}
#page2 #content .col_2 .p1 { margin-bottom:15px;}
#page2 #content .col_2 .alignright { margin:17px 11px 0 0;}

/*================== index-2.html ==================*/
#page3 #content .col_1 .indent { padding:0 60px 0 19px;}
#page3 #content .col_1 p { margin-bottom:16px;}
#page3 #content .col_1 .p1 { margin-bottom:17px;}
#page3 #content .col_1 .img_indent { margin:0 19px 20px 1px;}
#page3 #content .col_2 .indent { padding:0 40px 0 0;}
#page3 #content .col_2 .container { width:366px;}
#page3 #content .col_2 .container .column1 { width:211px;}
#page3 #content .col_2 .container .column2 { width:155px;}
#page3 #content .col_2 ul { margin-bottom:15px;}
#page3 #content .col_2 p { margin-bottom:18px;}
#page3 #content .col_2 .p1 { margin-bottom:15px;}
#page3 #content .col_3 .indent { padding:0 0 0 0;}
#page3 #content .col_3 p { margin-bottom:16px;}
#page3 #content .col_3 .img_indent { margin:1px 20px 16px 0;}
#page3 #content .col_3 .p1 { margin-bottom:18px;}
#page3 #content .col_3 .alignright { margin-right:10px;}

/*================== index-3.html ==================*/
#page4 #content .col_1 .indent { padding:0 0 0 19px;}
#page4 #content .col_1 p { margin-bottom:15px;}
#page4 #content .col_1 .p1 { margin-bottom:16px;}
#page4 #content .col_1 ul { margin-bottom:30px;}
#page4 #content .col_1 .alignright { margin-right:30px;}
#page4 #content .col_2 .indent { padding:0 0 0 30px;}
#page4 #content .col_2 .img_indent { margin:3px 19px 40px 0;}
#page4 #content .col_2 p { margin-bottom:15px;}
#page4 #content .col_2 .alignright { margin:17px 11px 0 0;}

/*================== index-4.html ==================*/
#page5 #content .indent { padding:37px 0 49px 0;}
#page5 #content .col_1 .indent { padding:0 60px 0 19px;}
#page5 #content .col_1 p { margin-bottom:14px;}
#page5 #content .col_1 .p1 { margin-bottom:17px;}
#page5 #content .col_1 .container { width:292px;}
#page5 #content .col_1 .container .column1 { width:170px;}
#page5 #content .col_1 .container .column2 { width:122px;}
#page5 #content .col_1 ul { margin-bottom:15px;}
#page5 #content .col_2 .indent { padding:0 0 0 0;}
#page5 #content .col_2 .img_indent { margin:3px 20px 16px 1px;}
#page5 #content .col_2 .container { width:366px;}
#page5 #content .col_2 .container .column1 { width:211px;}
#page5 #content .col_2 .container .column2 { width:155px;}

/*================== index-5.html ==================*/
#page6 #content .col_1 .indent { padding:0 60px 0 19px;}
#page6 #content .col_1 p { margin-bottom:16px;}
#page6 #content .col_1 .p1 { margin-bottom:17px;}
#page6 #content .col_1 .img_indent { margin:0 20px 12px 1px;}
#page6 #content .col_2 .indent { padding:0 40px 0 0;}
#page6 #content .col_2 .container { width:366px;}
#page6 #content .col_2 .container .column1 { width:211px;}
#page6 #content .col_2 .container .column2 { width:155px;}
#page6 #content .col_2 p { margin-bottom:12px;}
#page6 #content .col_3 .indent { padding:0 0 0 0;}
#page6 #content .col_3 .title { margin-bottom:27px;}
#page6 #content .col_3 p { margin-bottom:15px;}
#page6 #content .col_3 .img_indent { margin:1px 20px 16px 0;}
#page6 #content .col_3 .p1 { margin-bottom:5px;}
#page6 #content .col_3 .alignright { margin-right:10px;}

/*================== index-6.html ==================*/
#page7 #content .col_1 .title {
	margin-bottom:10px;
}
#page7 #content .col_1 .indent { padding:0 0 0 20px;}
#page7 #content .col_1 p { margin-bottom:15px;}
#page7 #content .col_1 .p1 { margin-bottom:16px;}
#page7 #content .col_1 ul { margin-bottom:30px;}
#page7 #content .col_1 .alignright { margin-right:30px;}
#page7 #content .col_2 .indent {
	padding:0 0 0 0px;
}
#page7 #content .col_2 .container { width:443px;}
#page7 #content .col_2 .container .column1 { width:240px;}
#page7 #content .col_2 .container .column2 { width:203px;}
#page7 #content .col_2 p { margin-bottom:15px;}
#page7 #content .col_2 .p1 { margin-bottom:17px;}
#page7 #content .col_2 .alignright { margin-right:8px;}

/*================== index-7.html ==================*/
#page8 #content .indent { padding:37px 20px 54px 20px;}
#page8 #content p { margin-bottom:15px;}

#page9 #content .col_1 .indent { padding:0 60px 0 100px;}
#page9 #content .col_1 .container { padding: 0px 70px 0px 70px;}

/*==================list====================*/
.block { background:url(../images/block_bgd.gif) left top repeat-x;}
.block .r { background:url(../images/r.gif) right top repeat-y;}
.block .b { background:url(../images/b.gif) left bottom repeat-x;}
.block .l { background:url(../images/l.gif) left top repeat-y;}
.block .t { background:url(../images/t.gif) left top repeat-x;}
.block .l_t { background:url(../images/l_t.gif) no-repeat left top;}
.block .r_t { background:url(../images/r_t.gif) no-repeat right top;}
.block .r_b { background:url(../images/r_b.gif) no-repeat right bottom;}
.block .l_b { background:url(../images/l_b.gif) no-repeat left bottom;}
.block .ind { padding:0 0 0 0;}

/*==========================================*/
